  .icon--banner_1 {
    width: 511.39px;
    height: 511.39px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 0 99.88100115097247%
  }
  .icon--banner_2 {
    width: 512px;
    height: 512px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 100% 0
  }
  .icon--banner_3 {
    width: 512px;
    height: 512px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 0 0
  }
  .icon--calender {
    width: 15px;
    height: 15px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 69.41427155599604% 51.53617443012884%
  }
  .icon--color_star {
    width: 11px;
    height: 9px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 71.90424481737413% 51.23152709359606%
  }
  .icon--comment {
    width: 15px;
    height: 16px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 67.92765113974232% 51.58730158730159%
  }
  .icon--feature_1 {
    width: 27px;
    height: 36px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 59.417251755265795% 51.821862348178136%
  }
  .icon--feature_2 {
    width: 31px;
    height: 36px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 62.37562940584088% 51.821862348178136%
  }
  .icon--feature_3 {
    width: 31px;
    height: 34px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 51.49949647532729% 55.55555555555556%
  }
  .icon--feature_4 {
    width: 38px;
    height: 36px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 56.22616632860041% 51.821862348178136%
  }
  .icon--left {
    width: 35px;
    height: 8px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 69.30131445904955% 50.39370078740158%
  }
  .icon--passion_1 {
    width: 17px;
    height: 16.97px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 66.37437934458788% 51.6369919466153%
  }
  .icon--passion_2 {
    width: 18px;
    height: 18px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 64.65109343936382% 51.68986083499006%
  }
  .icon--play {
    width: 13px;
    height: 13px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 70.76063303659743% 51.43422354104847%
  }
  .icon--quate {
    width: 43px;
    height: 38px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 52.12945973496432% 51.926977687626774%
  }
  .icon--right {
    width: 35px;
    height: 8px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 65.76238624873609% 50.39370078740158%
  }
  .icon--star {
    width: 11px;
    height: 9px;
    background-image: url('/temp/sprite/css/svg/sprite.css-910ff09f.svg');
    background-position: 72.99012833168806% 51.23152709359606%
  }
