.background-image-section {
  position: relative;
  height: 400px;
  margin-bottom: 2.4em;
  
    @mixin atSmall {
      height: 500px;
    }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  &__image-container {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 40px;
    bottom: 0;
    transform: translateY(50%);
    z-index: 1; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    display:none;
      @mixin atLarge {
        display: block;
      }
  }
  &--smaller {
    height: 270px;
      @mixin atLarge {
        height: 350px;
      }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(26, 29, 41, 0.8);
  }
  &--new-overlay-color {
    &::after {
      background-color:rgb(33,37,41, .8);
    }
  }  
}