    .icon {
      background-image: url('/assets/images/sprites/sprite-8a4d6b48.svg');
    }
  .icon--at {
    height: 16px;
    width: 16px;
    background-position: 100% 20.253164556962027%;
  }
  .icon--calender {
    height: 15px;
    width: 15px;
    background-position: 98.96907216494846% 80%;
  }
  .icon--comment {
    height: 16px;
    width: 15px;
    background-position: 98.96907216494846% 40.50632911392405%;
  }
  .icon--compass {
    height: 16px;
    width: 16px;
    background-position: 82.29166666666667% 88.60759493670886%;
  }
  .icon--envelope {
    height: 16px;
    width: 16px;
    background-position: 100% 0;
  }
  .icon--head {
    height: 34px;
    width: 31px;
    background-position: 0 59.01639344262295%;
  }
  .icon--header-small-screens-menu {
    height: 20px;
    width: 20px;
    background-position: 81.52173913043478% 48%;
  }
  .icon--heart {
    height: 36px;
    width: 31px;
    background-position: 80.24691358024691% 0;
  }
  .icon--mobile {
    height: 16px;
    width: 10px;
    background-position: 94.11764705882354% 60.75949367088607%;
  }
  .icon--money-box {
    height: 36px;
    width: 27px;
    background-position: 44.705882352941174% 0;
  }
  .icon--pig {
    height: 36px;
    width: 38px;
    background-position: 0 0;
  }
  .icon--signal {
    height: 18px;
    width: 18px;
    background-position: 46.808510638297875% 90.9090909090909%;
  }
  .icon--target {
    height: 16.97px;
    width: 17px;
    background-position: 65.26315789473684% 89.70908624887863%;
  }
  .icon--testimonials-facebook {
    height: 25px;
    width: 22px;
    background-position: 58.888888888888886% 51.42857142857143%;
  }
  .icon--testimonials-instagram {
    height: 25px;
    width: 22px;
    background-position: 24.444444444444443% 100%;
  }
  .icon--testimonials-skype {
    height: 25px;
    width: 22px;
    background-position: 34.44444444444444% 51.42857142857143%;
  }
  .icon--testimonials-twitter {
    height: 25px;
    width: 22px;
    background-position: 0 100%;
  }
