.testimonials {
  position: relative;
  width: 100%;
  padding-bottom: 5px;
  @mixin atMedium {
    box-shadow:0 0 5px -2px rgba(0,0,0,0.4);
    max-width: 350px;
  }
  &--500px-w-atLarge{
    @mixin atLarge {
      max-width: 500px;    
    }
  } 
  &--margin-bottom-until-m {
    @mixin atMedium {
      margin-bottom: 46px;      
    }
    @mixin atLarge {
      margin-bottom: 35px;      
    }
  }
  &--bottom-shadow {
    box-shadow:0 0 5px -2px rgba(0,0,0,0.4);
  }
  &--padding {
    padding: .7em;
  }
  &--green-hover-effect {
    @mixin atLarge {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right:0;
        width: 100%;
        height: 400px;
        background-color: $mainGreen;
        opacity: 0;
        transition-duration: 300ms;
      }
      &:hover::after {
        opacity: .7;
        top: -30px;
      }
      &:hover .paragraph {
        letter-spacing: 4px
      }
      &:hover .headline {
        color: $mainGreen;
      }
    }
  }

  &--pointer {
   @mixin atLarge {
    cursor: pointer;
   }
  }
  &--icon-visibility:hover &__icon-container{
    @mixin atLarge {
      opacity: 1;    
      top: 27%;      
    }
  }
  &--border-top-until-m {
    border-top: 1px solid $borderGrey;
    @mixin atMedium {
      border-top: none;
    }
  }
  &__edge-touch {
    padding-right: 5px;
    padding-left: 5px;
  }
  &__image-wrapper {
    height: 400px;
    max-width: 100%;
    margin-bottom: .8em;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  &__image--bottom-position {
    object-position: center bottom;
  }
  &__icon-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: 300ms;
    cursor: pointer;
  }
  &__icon-container > i {
    display: block;
    font-size: 1.6rem;    
    color: white;
    margin-bottom: .3em;
  }
  &__icon-container > i:hover {
    color: $footer;
  }
}
