.wrapper-responsive {
  margin: auto;
  @mixin atMedium {
    width: 750px; 
    padding-right: 15px;   
    padding-left: 15px;   
  }
  @mixin atLarge {
    width: 100%    
  }

  &--edge-touch {
    padding-right: 15px;   
    padding-left: 15px; 
  }
}