.background-image-section {
  position: relative;
  height: 500px;
  background:  url(../../assets/images/review_bg.png) no-repeat center center;
  background-size: cover;
  &__image-container {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 40px;
    bottom: 0;
    transform: translateY(50%);
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background: url(../../assets/images/Charity.jpg) no-repeat center center;
    background-size: cover;
  }
  &--new-image {
    background-image: url(../../assets/images/intro_video_bg.png)
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(26, 29, 41, 0.8);
  }
  &--new-overlay-color {
    &::after {
      background-color:rgb(33,37,41, .8);
    }
  }
}