.background-image-section {
  position: relative;
  height: 400px;
  background:  url(../../assets/images/review_bg.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 2.4em;

  @mixin atSmall {
    height: 500px;
  }
  
  
  &__image-container {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 40px;
    bottom: 0;
    transform: translateY(50%);
    z-index: 1; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background: url(../../assets/images/Charity.jpg) no-repeat center center;
    background-size: cover;
    display:none;
    
    @mixin atLarge {
      display: block;
    }
  }
  &--new-image {
    height: 270px;
    background-image: url(../../assets/images/intro_video_bg.png);
      @mixin atLarge {
        height: 400px;
      }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(26, 29, 41, 0.8);
  }
  &--new-overlay-color {
    &::after {
      background-color:rgb(33,37,41, .8);
    }
  }
}