.button {
  text-decoration: none;
  color: white;
  background-color: $mainGreen;
  padding: 1.2em 3em;
  font-size: .6rem;
  margin-top: 2em;
  display: block;
  text-align: center;
  transition-duration: 200ms;

  @mixin atLarge {
    display: inline-block;
    border-radius: 30px;
  }
  @mixin atSmall {
    font-size: .9rem;
  }

  &:hover {
    transform: scale(1.07);
    text-decoration: underline;
  }
  &--horiz-centered {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
      transform: translateX(-50%) scale(1.07);
    }
  }
  &--full-width {
    display: block;
    text-align: center;
  }
  &--not-rounded {
    border-radius: 0;
  }
  &--white {
    background-color: white;
    color: $mainBlack;
    border: 1px solid grey;
    &:hover {
      background-color: $mainGreen;
      border-color: $mainGreen;
      color: white;
      transform: scale(1);
    }
  }
  &--small {
    padding: 1em 2.5em
  }
  &--long {
    padding: 1em 4em;
  }
  &--margin-bottom {
    margin-bottom: 5px;
  }
  &--no-top-margin {
    margin-top: 0;
  }
  &--transparent {
    background-color :transparent;
  }
  &--border {
    border: 1px solid $mainGrey;
  }
}