.button {
  text-decoration: none;
  color: white;
  background-color: $mainGreen;
  padding: 1.2em 3em;
  border-radius: 50px;
  font-size: .9rem;
  margin-top: 2em;
  display: inline-block;
  transition: all 200ms;
  &:hover {
    transform: scale(1.07);
  }
  &--horiz-centered {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
      transform: translateX(-50%) scale(1.07);
    }
  }
  &--full-width {
    display: block;
    text-align: center;
  }
  &--not-rounded {
    border-radius: 0;
  }
  &--white {
    background-color: white;
    color: $mainBlack;
    border: 1px solid grey;
    &:hover {
      background-color: $mainGreen;
      border-color: $mainGreen;
      color: white;
      transform: scale(1);
    }
  }
  &--small {
    padding: 1em 2.5em
  }
  &--margin-bottom {
    margin-bottom: 5px;
  }
}