.flex {
  display: flex;
  
  &__margin-right {
    margin-right: 1.8em;
  }
  &__margin-right-tiny {
    margin-right: 0.9375em;
  }
  &__margin-left-100px {
    margin-left: 100px;
    border: 1px solid red;
  }
  &__margin-left-auto {
    margin-left: auto;
  }
  &__align-self-end {
    align-self: flex-end;
  }
  &__fixed-width {
    flex-basis: 360px;
  }
  &--space-between {
    justify-content: space-between;
  }
  &--align-items-end {
    align-items: flex-end;
  }
  &--align-items-center {
    align-items: center;
  }
  &--justify-content-center {
    justify-content: center;
  }
  &--margin-bottom {
    margin-bottom: 1.5em;
  }
  &--width {
    width: 540px;
  }
}