.flex {
  display: flex;
  flex-wrap: wrap;
  &__margin-right {
    margin-right: 1.8em;
  }
  &__margin-right-tiny {
    margin-right: 0.9375em;
  }
  &__align-self-end {
    align-self: flex-end;
  }
  &__margin-left-auto {
    margin-left: auto;
  }
  &__fixed-width {
    width: 360px;
  }
  &--space-between {
    justify-content: space-between;
  }
  &--align-items-end {
    align-items: flex-end;
  }
  &--align-items-center {
    align-items: center;
  }
  &--margin-bottom {
    margin-bottom: 1.5em;
  }
  &--width {
    width: 540px;
  }
}