.headline {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: .5em;
  transition-duration: 300ms;
  @mixin atSmall {
    font-size: 3.4375rem;
  }
  &--justify {
    text-align: justify;
  }
  &--italic {
    font-style: italic;
  }
  &--grey {
    color: $mainGrey;
  }
  &--light-grey {
    color: $lightGrey;
  }
  &--black {
    color: $mainBlack;
  }
  &--tiny {
    font-size: 0.8125rem;
  }
  &--small {
    font-size: 1.1rem;
    @mixin atSmall {
      font-size: 1.25rem;
    }
  }
  &--more-than-small {
    font-size: 2rem;
  }
  &--medium {
    font-size: 1.5rem;
    @mixin atSmall {
      font-size: 2.3125rem;
    }
  }
  &--more-than-medium {
    font-size: 1.6rem;
    @mixin atSmall {
      font-size: 2.625rem;
    }
  }
  &--letter-spread {
    letter-spacing: 2px;
  }
  &--main-typo {
    font-family: inherit;
  }
  &--thin {
    font-weight: 500;
  }
  &--margin-bottom-large {
    margin-bottom: 1.5em;
  }
  &--no-margins {
    margin-bottom: 0;
  }
}
