.paragraph {
  color: white;
  line-height: 1.8;
  font-size: .8rem;
  text-align: justify;
  transition-duration: 300ms;
  @mixin  atSmall {
    font-size: 0.9375rem;    
  }
  &--grey {
    color: $mainGrey;
  }
  &--black {
    color: $mainBlack;
  }
  &--green {
    color: $mainGreen;
  }
  &--bold {
    font-weight: 500;
  }
  &--small {
    font-size: .875rem;
  }
  &--thin {
    font-weight: 300;
  }
  &--italic {
    font-style: italic
  }
  &--large {
    font-size: 1.6875rem
  }
  &--centered {
    text-align: center;
  }
  &--margin-bottom {
    margin-bottom: .7em;
  }
  &--margin-bottom-big {
    margin-bottom: 1em;
  }
  &--margin-bottom-tiny {
    margin-bottom: 5px;
  }
}
