.paragraph {
  color: white;
  line-height: 1.8;
  font-size: 0.9375rem;
  text-align: justify;
  transition-duration: 300ms;
  &--grey {
    color: $mainGrey;
  }
  &--black {
    color: $mainBlack;
  }
  &--bold {
    font-weight: 800;
  }
  &--thin {
    font-weight: 300;
  }
  &--italic {
    font-style: italic
  }
  &--large {
    font-size: 1.6875rem
  }
  &--centered {
    text-align: center;
  }
  &--margin-bottom-tiny {
    margin-bottom: 5px;
  }
}
