.position-centered {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &--semi-centered {
    @mixin atLarge {
      left: 70%;  
    }
  }
  &--to-left {
    @mixin atLarge {
      left:  30%;
    }
  }
}
