.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
    @mixin atMedium {
      width: 100%;
      max-width:620px;
    }
    @mixin atSmall{
      width: 100%;
      max-width: 490px;
    }
  &--no-max-width-until-small {   
      @mixin atSmall {
        max-width: none;
        width: 520px;
      }
  }
  &--width-620 {
    max-width: 620px;
  }
  &--on-top {
    z-index: 1;
  }
}