.header {
  position: fixed;
  z-index: 2;
  color: white;
  background-color: #14182dc5;
  width: 100%;
  height: 50px;
  box-shadow: 0 3px 5px -1px $shadowColor;
  @mixin atMedium {
    height: auto;
  }

  &__list {
    padding: 0;
    margin: 0;
    display: none;
    @mixin atMedium {
      height: auto;;
      display: block;
    }
  }
  &__list-item {
    display: inline-block;
    margin-right: 1.5em;
    padding: 1.3em 0;
    cursor: pointer;

   @mixin atLarge {
    margin-right: 3.125em;
    padding: 1.9em 0;
   }
  }

  &__link {
    text-decoration: none;
    color: white;
  }
  &__list-item:hover {
    text-decoration: underline;
  }
  &__button {
    opacity: 0;
    padding: .8em 2em;
    @mixin atMedium {
      opacity: 1;
    }
  }
  &__logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    cursor: pointer;
    width: 100px;
    @mixin atMedium {
      width: 130px;
    }
    @mixin atLarge {
      width: auto;
    }
  }
  &__bars {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @mixin atMedium {
      visibility: hidden;
    }
  }
}