.header {
  position: fixed;
  z-index: 2;
  color: white;
  background-color: #14182dc5;
  width: 100%;
  height: 50px;
  @mixin atMedium {
    height: auto;
  }

  &__list {
    padding: 0;
    margin: 0;
    display: none;
    @mixin atMedium {
      height: auto;;
      display: block;
    }
  }
  &__list > li {
    display: inline-block;
    margin-right: 1.5em;
    padding: 1.3em 0;
   @mixin atLarge {
    margin-right: 3.125em;
    padding: 1.9em 0;
   }
    cursor: pointer;

  }
  &__list > li:hover {
    text-decoration: underline;
  }
  &__button {
    opacity: 0;
    padding: .8em 2em;
    @mixin atMedium {
      opacity: 1;
    }
  }
  &__logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    cursor: pointer;
    width: 100px;
    @mixin atMedium {
      width: 130px;
    }
    @mixin atLarge {
      width: auto;
    }
  }
  &__bars {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @mixin atMedium {
      visibility: hidden;
    }
  }
  &__item-menu {
    position: relative;
  }
  &__drop-down {
    list-style-type: none;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    color: black;
    box-shadow: 0 0 4px rgb(0,0,0,.4);
    background-color: white;
    visibility: hidden;
  }  
  &__drop-down > li {
    padding: .5em 3em;
    width: 170px;
  }
  &__drop-down > li:hover {
    background-color: rgb(248, 248, 248);
  }
  &__item-menu:hover &__drop-down {
    visibility: visible;
  }
}